<body>
    <style>
 
    </style>

<div>
    <h1 class="display-4">Welcome to the factory of craft Pizzas</h1>
    <p class="mb-4">This is a page describing all sorts of craft Pizzas</p>
    <p>To view or edit Pizzas you need to be logged in</p>
    <a class="btn btn-info" href="/login">Log in</a>
</div>

</body>

